// @use 'sass-mq/mq' with (
//   $media-type: screen
// );

@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Aleo&family=Outfit&display=swap');

body {
  margin: 0;
  font-family: 'Aleo', serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;

  background-color: #12101e;
  color: #888888;

  line-height: 1.5;

  min-width: 240px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Outfit', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
  
  // text-decoration: underline;
  // text-decoration-thickness: 8pt;
  // text-decoration-color: #f58d16;
  // text-underline-offset: 0rem;

  //border-bottom: 4pt solid #f58d16;
    
  //text-underline-position: 20px;
  color: #eeeeee;
}

strong {
  color: #bbbbbb;
}

.subtitle, article h1 {
  font-family: 'Agdasima', sans-serif;
  text-transform: uppercase;
  color: #bbbbbb;
  font-size: 1.4rem;
}

a, a:link, a:visited {
  color: #bbbbbb;
}

a:active, a:hover, a:focus {
  color: #f58d16;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
