@import './styles/colors';
@import './styles/fonts';

body {
  margin: 0;
  font-family: $font-family-body;
  font-weight: 300;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;

  background-color: #12101e;

  color: $color-text;

  line-height: 1.5;

  min-width: 240px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
  color: $color-heading;
}

h1 {
  font-size: 1.5em;
}

strong {
  color: $color-subheading;
}

.subtitle, article h1 {
  @extend %subheading;
}

a, a:link, a:visited {
  color: $color-subheading;
  text-decoration: none;
}

a:active, a:hover, a:focus {
  color: $color-accent;
  text-decoration: underline;
}
