@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Aleo&family=Outfit&display=swap');

body {
  margin: 0;
  font-family: 'Aleo', sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;

  background-color: #1f1b29;
  color: #aaaaaa;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Outfit', sans-serif;
  text-transform: uppercase;
  color: #eeeeee;
}

a {
  color: #f58d16;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
